<% include ../partials/header %>

<h1>登入</h1>

<form action="/login" method="post">
	<input type="text" name="username" placeholder="用戶名稱" value="">
	<input type="password" name="password" placeholder="" value="">
	<button>送出</button>
</form>

<% include ../partials/footer %>