<% include ../partials/header %>

<h1>註冊</h1>

<form action="/register" method="post">
	<input type="text" name="username" placeholder="用戶名稱">
	<input type="password" name="password" placeholder="密碼">
	<button>送出</button>
</form>

<% include ../partials/footer %>